@CHARSET "UTF-8";

body {

}

a {
	text-decoration: none;
}


#pagina {
	margin-top: 2px;
	width: 1000px;
	margin: 0 auto;
}

.form {
	margin: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#cabecalho {
	margin-bottom: 1px;	
}

#menu {
	margin-top: 10px;
	-webkit-border-radius: 5px;
}

#conteudo {
	min-height: 700px;
	margin: 10px;
	background-color: #fafaf4;
	-webkit-border-radius: 5px;
}

#rodape {
	margin-top: 10px;
	margin: 0 auto;
}